html {
    box-sizing: border-box;
    max-height: 1vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --yellow: #FFBF50;
    --blue: #5F90FF;
    --white: #fff;
    --black: #000;
    --green: #01A468;
    --purple: #BB7CD2;

    --s-xs: 0.5rem;
    --s-s: 1rem;
    --s-m: 2rem;
    --s-l: 3rem;

    --fs: 1rem;
    --fs-xs: 1.4rem;
    --fs-s: 1.5rem;
    --fs-m: 2rem;
    --fs-l: 3.125rem;
}

@font-face {
    font-family: "GT-Walsheim";
    src: url('../assets/fonts/GT-Walsheim-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim";
    src: url('../assets/fonts/GT-Walsheim-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim";
    src: url('../assets/fonts/GT-Walsheim-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}



img {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    font-family: "GT-Walsheim";
    font-size: var(--fs);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.506px;
}

strong {
    font-weight: 700;
}

h1 {
    font-family: "GT-Walsheim";
    font-size: var(--fs-l);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
}

h2 {
    font-family: "GT-Walsheim";
    font-size: var(--fs-m);
    font-style: normal;
    font-weight: 500;
}

h3 {
    font-family: "GT-Walsheim";
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 400;
}

button {
    font-family: "GT-Walsheim";
    font-size: var(--fs);
    font-weight: 500;
    padding: 1rem;
    margin: auto;
    background-color: var(--yellow);
    border: none;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

header {
    display: flex;
    align-items: end;
    gap: 2rem;
    padding: 1rem;
}

.intro {
    padding-top: var(--s-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    max-width: 100vw;
    overflow: hidden;
}

.intro_text {
    padding: var(--s-s) 0;
    max-width: 20rem;
    font-size: var(--fs-xs);
    line-height: 110%;
}

.abby_name_color {
    color: var(--blue);
}

.abby {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow);
}

.abby_hi {
    margin-right: -5rem;
    padding-top: 5rem;
    width: 17rem;
    transform: scaleX(-1) rotate(12deg);
}

.abby svg {
    margin-left: 2.5rem;
}

.cta {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: -9rem;
    padding: var(--s-s) var(--s-m);
    gap: var(--s-s);
}

.cta p {
    font-weight: 700;
    font-size: 1.2rem;
}

.intro_extra {
    width: 100vw;
    background-color: var(--white);
    z-index: 1;
    margin-top: -2rem;
}

.intro_extra_text {
    padding-top: 3rem;
    text-align: center;
    max-width: 19rem;
    margin: auto;
    font-size: var(--fs-xs);
    line-height: 110%;
}

.about {
    padding-top: var(--s-l);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18rem;
}

.box p {
    font-size: var(--fs);
    text-align: center;
    line-height: 130%;
    padding: var(--s-s);
}

.box a {
    color: var(--black);
    font-size: var(--fs);
    text-decoration: none;
    border-bottom: 1px solid;
}

.about>p {
    grid-column: span 2;
    text-align: center;
    padding: var(--s-s);
    font-size: var(--fs);
    max-width: 20rem;
    margin: auto;
}

.about_who {
    background-color: var(--green);
}

.about_where {
    background-color: var(--purple);
}

.about_how {
    background-color: var(--blue);
}

.about_when {
    background-color: var(--yellow);
}

.events {
    padding: var(--s-s);
    padding-top: var(--s-l);
}

.event {
    background-color: var(--green);
    margin-top: var(--s-s);
    padding: var(--s-xs);
}

.event>h3 {
    padding-bottom: var(--s-xs);
}

.event>p {
    font-size: var(--fs);
}

.event>.link,
.space_about>.link {
    font-weight: 500;
    padding: var(--s-xs) 0;
    display: flex;
    align-items: center;
    gap: var(--s-xs);
}

hr {
    color: var(--green);
}

.spaces {
    background-color: var(--blue);
    margin-top: var(--s-m);
    padding: var(--s-xs);
    padding-top: var(--s-m);
}

.spaces_text {
    padding: var(--s-s) 0;
    max-width: 21rem;
}

.space_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space_nav>div {
    display: flex;
}

.space_name,
.space_icon {
    background-color: var(--yellow);
}

.space_name {
    padding: var(--s-s);
}

.space_icon {
    padding: 0.17rem;
}

.space_btns {
    padding: 0 var(--s-s);
    gap: var(--s-s);
}

.space_description {
    padding: var(--s-s) 0;
}

.people {
    padding-top: var(--s-l);
}

video {
    max-width: 95vw;
}