html {
    box-sizing: border-box;
    max-height: 1vh;
    font-family: "GT-Walsheim" !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --yellow: #FFBF50;
    --blue: #5F90FF;
    --white: #fff;
    --black: #000;
    --green: #01A468;
    --purple: #BB7CD2;
    --orange: #FF5F00;
    --red: #691F13;

    --s-xs: 0.5rem;
    --s-s: 1rem;
    --s-m: 2rem;
    --s-l: 3rem;

    --fs: 1rem;
    --fs-xxs: 1.2rem;
    --fs-xs: 1.4rem;
    --fs-s: 1.5rem;
    --fs-m: 2rem;
    --fs-l: 3.125rem;
}

@font-face {
    font-family: 'GT-Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT-Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Bd.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim";
    src: url('/assets/fonts/GT-Walsheim-Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim";
    src: url('/assets/fonts/GT-Walsheim-RgOb.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    font-family: "GT-Walsheim";
    font-size: var(--fs);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.03px;
}

strong {
    font-weight: 700;
}

h1 {
    font-family: "GT-Walsheim";
    font-size: var(--fs-l);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
}

h2 {
    font-family: "GT-Walsheim";
    font-size: var(--fs-m);
    font-style: normal;
    font-weight: 500;
}

h3 {
    font-family: "GT-Walsheim";
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--s-s);
}

.logo {
    display: flex;
    align-items: end;
    font-weight: 500;
}

.lang_prof {
    display: flex;
    align-items: center;
    gap: var(--s-s);
}

.logo>p {
    margin-bottom: -0.3rem;
}

.language {
    font-weight: 500;
    padding: var(--s-s);
    background-color: var(--yellow);
}

button {
    font-family: "GT-Walsheim";
    font-size: var(--fs);
    font-weight: 500;
    padding: 1rem;
    margin: auto;
    background-color: var(--yellow);
    border: none;
    color: var(--black);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.intro {
    padding-top: var(--s-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    max-width: 100vw;
    overflow: hidden;
}

.intro_text {
    padding: var(--s-s) 0;
    max-width: 19rem;
    font-size: var(--fs-xxs);
    line-height: 110%;
}

.abby_name_color {
    color: var(--blue);
}

.abby {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow);
    background-image: url('/assets/svg/a-yellow.svg');
    background-repeat: repeat;
    background-size: 44px 44px;
    animation: scroll-diagonal 8s linear infinite;

}

@keyframes scroll-diagonal {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -88px 88px;
    }
}

.abby_hi {
    margin-right: -8rem;
    padding-top: 0rem;
    height: 26rem;
    transform: scaleX(-1) rotate(12deg);
}

.abby svg {
    margin-top: -0.5rem;
    margin-left: 2rem;
}

.cta {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: -9rem;
    padding: var(--s-m) var(--s-l);
    padding-bottom: var(--s-xs);
    gap: var(--s-s);
}

.cta button {
    background-color: var(--green);
    color: var(--white);
    animation: pulse 2s ease-in-out infinite;
    font-weight: 700;
    letter-spacing: 0.01rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.intro_extra {
    width: 100vw;
    background-color: var(--white);
    z-index: 1;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s-xs);
    padding-bottom: var(--s-xs);
}

.extra_question {
    padding-top: 4rem;
    text-align: center;
    max-width: 19rem;
    margin: auto;
    font-size: var(--fs-xs);
    line-height: 110%;
    font-weight: 500;
}

.extra_thought {
    font-size: var(--fs-xxs);
}

.about {
    padding-top: var(--s-l);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.box {
    padding: var(--s-s);
    padding-top: var(--s-m);
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
}

.box p {
    font-size: var(--fs);
    text-align: center;
    line-height: 130%;
    padding-bottom: var(--s-s);
}

.box img {
    align-self: center;
}

.box h3 {
    padding: var(--s-s) 0;
}

.box a {
    color: var(--black);
    font-size: 0.9rem;
    text-decoration: none;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
}

.about>p {
    grid-column: span 2;
    text-align: center;
    padding: var(--s-m) var(--s-xs);
    font-size: var(--fs-xxs);
    max-width: 20rem;
    line-height: 120%;
    margin: auto;
}

.about_who {
    background-color: var(--green);
}

.about_where {
    background-color: var(--purple);
}

.about_how {
    background-color: var(--blue);
}

.about_when {
    background-color: var(--yellow);
}

.events {
    padding-top: var(--s-l);
}

.events_item {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.event_date {
    position: relative;
    width: 100%;
    font-size: var(--fs-xs);
    font-weight: 500;
    align-self: center;
    justify-self: center;
    padding: 2.6rem 0;
    z-index: 1;
    overflow: hidden;
}


.event_date::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--white);
    background-repeat: repeat;
    opacity: 0.4;
    z-index: 0;
}

.event_date p {
    text-align: center;
    position: relative;
    z-index: 1;
}

.event {
    padding: var(--s-xs) var(--s-s);
    color: var(--white);
}

.ev-green {
    background-color: var(--green);
}

.ev-blue {
    background-color: var(--blue);
}

.ev-purple {
    background-color: var(--purple);
}

.ev-orange {
    background-color: var(--orange);
}

.event>h3 {
    font-size: var(--fs-xs);
    padding-top: var(--s-xs);
    padding-bottom: var(--s-xs);
    font-weight: 500;
}

.event>p {
    font-size: var(--fs);
}

.event>.link,
.space_about>.link {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: var(--s-xs);
    color: var(--black);
    text-decoration: underline;
}

.event>.link {
    padding-top: var(--s-s);
    justify-content: end;
}

.events>h2 {
    padding: var(--s-xs) var(--s-s);
    padding-top: var(--s-m);
}

.events>p {
    padding: var(--s-xs) var(--s-s);
    padding-bottom: var(--s-s);
}

.spaces {
    margin-top: var(--s-m);
    padding-top: var(--s-m);
    overflow: hidden;
    padding-bottom: var(--s-m);
}

.space_about {
    background-color: var(--blue);
    padding: var(--s-s);
}

.space_about>.link {
    padding: var(--s-xs) 0;
    color: var(--white);

}

.space_media {
    max-width: 100%;
}

.spaces>h2 {
    padding: var(--s-xs) var(--s-s);
}

.spaces_text {
    padding: var(--s-xs) var(--s-s);
    padding-bottom: var(--s-s);
    max-width: 21rem;
}

.space {
    position: relative;
}

.space_nav {
    padding: 0 var(--s-s);
    position: relative;
    top: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.space_nav>div {
    display: flex;
}

.space_name,
.space_icon {
    background-color: var(--yellow);
}

.space_name {
    padding: var(--s-s);
}

.space_icon {
    padding: 0.17rem;
}

.space_btns {
    padding: 0 var(--s-s);
    gap: var(--s-s);
}

.space_description {
    padding: var(--s-s) 0;
}

.spaces>button {
    display: flex;
    margin-top: var(--s-m);
}

.people {
    margin-top: var(--s-l);
    background-color: var(--purple);
    padding: 0 var(--s-m);
    padding-bottom: 5rem;
    position: relative;
}

.people>h2 {
    padding: var(--s-l) var(--s-s);
}

.people_card {
    padding: var(--s-s);
    background-color: #FFDB9D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: var(--s-xs); */
}

.dark_yellow {
    position: relative;
    background-color: #FFAB19;
    z-index: 1;
}

.darker_yellow {
    position: relative;
    background-color: #FFBF50;
    margin-top: -10rem;
    z-index: 2;
}

.light_yellow {
    position: relative;
    z-index: 3;
    margin-top: -10rem;
}

.people_card>h3 {
    justify-self: center;
    align-self: end;
    padding-bottom: var(--s-xs);
}

.people_card button {
    background-color: var(--red);
    color: var(--white);
    font-weight: 400;
    margin-top: var(--s-xs);
}

.profile_img {
    grid-column: 1;
    justify-self: center;
    align-self: end;
    border-radius: 10rem;
    width: 85%;
}

.add {
    padding: var(--s-s);
    display: flex;
    justify-content: center;
}

.add_yours {
    background-color: var(--red);
}

.skils {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.role__bar {
    height: 0.7rem;
    background-color: #e4c89c;
    overflow: hidden;
    margin-bottom: var(--s-xs);
}

.role__fill {
    height: 100%;
}

.role--green {
    background-color: var(--green);
}

.role--blue {
    background-color: var(--blue)
}

.role--brown {
    background-color: var(--red);
}

footer {
    padding: var(--s-m);
}

footer div {
    padding-bottom: var(--s-s);
}

footer>div>p {
    padding-bottom: 0.4rem;
}

footer h3 {
    font-size: var(--fs-s);
    padding-bottom: var(--s-xs);
}

.insta{ 
    display:flex;
    align-items: center;
}

.newsletter>img {
    padding-left: var(--s-s);
}


.email_input {
    min-width: 15rem;
    padding: var(--s-s) var(--s-m) var(--s-s) var(--s-xs);
    border: 1px solid var(--black);
    border-radius: 0;
}

.email_input::placeholder {
    font-family: 'GT-Walsheim';
    color: var(--grey);
    font-style: italic;
    opacity: 1;
    font-size: var(--fs-t);
}