.onboarding {
    position: relative;
    height: 100dvh;
    background: linear-gradient(to bottom, #FFBF50 0 50%, #5F90FF 50% 100%);
    padding: var(--s-xs) 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.onboarding::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('/assets/svg/A.svg');
    background-repeat: repeat;
    background-size: 44px 44px;
    animation: scroll-diagonal 8s linear infinite;
    pointer-events: none;
    z-index: 0;
}

.onboarding_bg>* {
    position: relative;
    z-index: 1;
}

.onboarding_bg {
    margin: 0;
    padding: 0;
}

.exit {
    padding: var(--s-xs);
    position: relative;
    left: 87%;
}

.onboarding_intro,
.board {
    flex: 1;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
    margin: 0 var(--s-m);
}

.onboarding_intro {
    margin: 0 var(--s-m) var(--s-xs) var(--s-m);
}

.onboarding_intro h2,
.board h2 {
    color: var(--blue);
    font-size: var(--fs-m);
    padding: var(--s-s) 0;
}

.board {
    padding-top: 0;
    margin-top: -1rem;
    padding-bottom: var(--s-xs);
    background-color: var(--white);
}

.onboarding_intro button {
    margin: var(--s-m) 0;
}

.onboarding_intro p {
    padding: var(--s-xs) var(--s-s);
}


.board p {
    padding: var(--s-xs) var(--s-s);
}

.onboarding_btns {
    padding: var(--s-s);
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    margin: 0 var(--s-m);
}

.show_around {
    font-weight: 500;
}

.skip_to {
    text-align: center;
    padding-bottom: 0.05rem;
    align-self: end;
    border-bottom: 1px solid var(--black);
}

.board_one {
    position: relative;
}

.image-one {
    position: absolute;
    left: 5%
}

.board_two {
    margin-top: -0.2rem;
}

.board_three {
    margin-top: 2.3rem;
}

.board_three>img {
    margin-top: -7.4rem;
}

.progress {
    padding-top: var(--s-m);
    background-color: var(--white);
    margin: 0 var(--s-m);
}

.progress_bars {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.progress__bar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #DCEBFF;
    border-radius: 2rem;
    transition: all 0.4s ease;
    flex-shrink: 0;
}


.progress__bar--filled {
    width: 1.5rem;
    border-radius: 2rem;
    background-color: var(--blue);
    justify-self: center;
}

.progress_count {
    text-align: center;
}

.progress_count span {
    font-weight: 700;
}

.prev_btn>img {
    transform: scaleX(-1);
}


.step_one>div,
.step_two>div,
.step_three>div {
    display: flex;
    align-items: center;
    margin-top: -5rem;
    overflow: hidden;
    position: relative;
}


.speech_bg {
    position: relative;
    left:9%;
    background: url('/assets/svg/speech.svg') no-repeat center / contain;
    padding: 1rem;
    max-width: 14rem;
    min-height: 7rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abby_hi {
    margin-right: -2rem;
    padding-top: 5rem;
    height: 25rem;
    transform: scaleX(-1) rotate(12deg);
    z-index: 1;
}

.speech {
    margin-left: var(--s-xs);
    padding: var(--s-xs);
    font-weight: 400;
    line-height: 130%;
}

.input {
    margin: 0 var(--s-m);
    padding: var(--s-s);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.input>p {
    padding-bottom: var(--s-s);
}

.name_input {
    min-width: 18rem;
    padding: var(--s-s) var(--s-m) var(--s-s) var(--s-xs);
    border: 1px solid var(--black);
    border-radius: 0;
}

.answer_input {
    min-width: 18rem;
    padding: var(--s-xs) var(--s-m) var(--s-m) var(--s-xs);
    border: 1px solid var(--black);
    border-radius: 0;
}

.name_input::placeholder,
.answer_input::placeholder {
    color: var(--grey);
    font-style: italic;
    opacity: 1;
    font-size: var(--fs-t);
}

.next_btn,
.back_btn {
    display: flex;
    gap: var(--s-xs);
    align-items: center;
}

.back_btn {
    background-color: transparent;
    border: 3px solid var(--yellow);
}

.next_btn>img {
    margin-bottom: -0.1rem;
}

.back_btn>img {
    transform: scaleX(-1);
}